<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./add' ]"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Catálogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <ion-card *ngFor="let product of products">
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{ product.nombre}}</ion-label>
        <ion-button [routerLink]="['./', product.codigo]"><ion-icon name="eye"></ion-icon></ion-button>
        <ion-button outline (click)="update(product.codigo)" ><ion-icon name="create"></ion-icon></ion-button>
      </ion-item>
      <ion-card-content>
        {{ product.descripcion }}
        <br>
        <div *ngFor="let provedor of product.proveedor">
          <p>Fabricado: {{ provedor.nombre }}</p>
          <p>Numero: {{ provedor.numero}}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>